@import "../../vars.scss";

.main-section {
  width: 100vw;
  overflow-x: hidden;
  height: 100%;
  position: relative;
  z-index: 10;
  &__container {
    height: 100%;
  }
  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
  &__left-bg {
    background-image: url(/src/assets/bg-left.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 865px;
    height: 714px;
    left: -450.75px;

    top: -300px;
    bottom: -306px;
    transform: rotate(353deg);
    z-index: -1;
  }

  &__right-bg {
    background-image: url(/src/assets/bg-right.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    width: 865px;
    height: 714.41px;
    right: -570px;
    top: -390px;

    transform: rotate(268deg);
    z-index: -1;
  }
  &__title {
    font-family: Poppins;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
    opacity: 0.39;
  }
  &__subtitle {
    // margin-bottom: 32px;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: $dark-text-color;
  }
  &__text {
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    text-align: center;
    color: $dark-text-color;
  }
}
@media screen and (max-width: 1055px) {
  .main-section {
    &__title {
      font-size: 36px;
    }
    &__subtitle,
    &__text {
      font-size: 16px;
    }
    &__left-bg {
      width: 478px;
      height: 394px;
      left: -250px;
      top: -200px;
    }
    &__right-bg {
      right: -650px;
      top: -480px;
      transform: rotate(262deg);
    }
  }
}

@media screen and (max-width: 560px) {
  .main-section {
    &__logo {
      width: 128px;
      height: 40px;
    }
    &__left-bg {
      width: 366px;
      height: 302px;
      left: -190px;
      top: -160px;
    }
    &__right-bg {
      right: -650px;
      top: -480px;
      transform: rotate(256deg);
    }
  }
}
