@import "../../vars.scss";

.countdown {
  max-width: 700px;
  margin: 0 auto;
  &__time,
  &__gap {
    color: $main-text-color;
    font-size: 72px;
    font-weight: 600;
  }
  &__box {
    display: flex;
    justify-content: space-between;
  }
  &__item {
    display: flex;
    flex-direction: column;
  }
  &__label {
    padding: 17px 42px 21px 50px;
    background: url("../../assets/label-countdown-bg.svg") no-repeat;
    background-size: contain;
    background-position-x: center;
    font-size: 16px;
    color: $light-text-color;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .countdown {
    max-width: 420px;
    &__time,
    &__gap {
      font-size: 36px;
    }

    &__label {
      padding: 14px 23px;
      font-size: 12px;
      background-position-y: center;
    }
  }
}
