@import "../../vars.scss";

input[name="email"],
.MuiInputBase-root {
  border-radius: 40px !important;
  width: 440px;
  background-color: $light-text-color;
}
input[name="email"] {
  padding: 4%;
}
input[name="email"]::placeholder {
  color: $dark-text-color !important;
  opacity: 0.6 !important;
  font-size: 18px !important;
}

.subscribe {
  position: relative;
  background: $main-color;
  padding-top: 2%;
  padding-bottom: 2%;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  &__form {
    margin: 0 auto;
    position: relative;
    width: fit-content;
  }
  &__button {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0;
    padding: 10px 11px;
    background-color: $countdown-labels-color;
    border-radius: 50px;
    cursor: pointer;
  }
  &__button:disabled {
    opacity: 0.7;
    cursor: default;
  }
  &__link-next {
    position: absolute;
    top: 40%;
    right: 0;
    display: flex;
    margin-right: 108px;
    align-items: center;
    color: $light-text-color;
    cursor: pointer;
    font-size: 20px;
  }
}

@media screen and (max-width: 1055px) {
  input[name="email"],
  .MuiInputBase-root {
    width: 280px;
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    &__button {
      padding: 4px 5px;
    }
    &__link-next {
      margin: 0;
      position: static;
      font-size: 16px;
    }
  }
  input[name="email"]::placeholder {
    color: $dark-text-color !important;
    font-size: 14px !important;
  }
}
