$main-color: rgb(22, 44, 78);
$countdown-labels-color: rgb(223, 34, 36);
$title-color: rgb(22, 44, 78);
$main-text-color: rgb(22, 44, 78);
$dark-text-color: rgba(0, 0, 0, 0.8);
$light-text-color: rgb(255, 255, 255);
