@import "../../vars.scss";

.event-section {
  padding-top: 100px;

  &__title {
    font-family: Poppins;
    font-size: 72px;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    color: $title-color;
    opacity: 0.39;
  }
}
@media screen and (max-width: 1055px) {
  .event-section {
    &__title {
      font-size: 36px;
    }
  }
}

@media screen and (max-width: 560px) {
  .event-section {
    &__logo {
      width: 128px;
      height: 40px;
    }
  }
}
